.avail_thumbnail {
  display: flex;
  margin: 24px 16px 16.5px 18px;
  text-align: left;
}

.written_thumbnail {
  display: flex;
  margin: 24px 16px 16.5px 18px;
  text-align: left;
}

.avail_thumbnail .image {
  margin: 0;
  width: 110.11px;
  height: 82.5px;
  object-fit: cover;
  border-radius: 4px;
}

.written_thumbnail .image {
  margin: 0;
  width: 70px;
  height: 52px;
  object-fit: cover;
  border-radius: 4px;
}

.avail_title {
  margin: 0 16px;
}

.written_title {
  margin: 0 10px;
}

.avail_title .host_name {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #677294;
}

.avail_title .space_name {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  color: #232323;
}

.written_title .host_name {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #677294;
}

.written_title .space_name {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  color: #232323;
}
