.title {
  padding: 40px 20px 18px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232323;
}

.title span {
  color: #f24822;
}

.addimg {
  padding: 40px 20px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232323;
}

.addimg span {
  color: #f24822;
}
