.footer {
  background: #ffffff;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.recommend {
  width: 199px;
  margin: auto;
  padding: 70px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #bec2c8;
}

.alert {
  position: relative;
  margin: 0 18px 50px;
  padding: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #5e5e5e;
  background: #f8f9fb;
  border-radius: 4px;
}

.icon {
  position: absolute;
  top: 11.33px;
  left: 11.33px;
  width: 16px;
  height: 16px;
  color: #f93737;
}

.alert p {
  margin-left: 22px;
  width: 312px;
  height: 57px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #5e5e5e;
}
