.description {
  display: flex;
  margin: 0;
}

.description_title {
  margin: 15px 0 0 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #979797;
}

.description_title li {
  padding-bottom: 8px;
}

.description_detail.avail {
  margin: 15px 0 0 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #5e5e5e;
}

.description_detail.written {
  margin: 15px 0 0 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #878787;
}

.description_detail li {
  padding-bottom: 8px;
}

.live {
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  background: #0077ed;
  padding: 2px 4px;
  margin-right: 6px;
}
