.section {
  background: #fafafa;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.section hr {
  color: #a3a3a3;
  opacity: 0.6;
  width: 100%;
}

.thumbnail {
  display: flex;
  justify-content: start;
  margin: 0 0 1.5rem 0;
  text-align: left;
}

.image {
  border-radius: 10px;
  height: 6rem;
  margin: 0;
  object-fit: cover;
  width: 8rem;
}

.title {
  margin: 0 1.5rem;
}

.host_name {
  color: #a3a3a3;
  font-weight: 500;
}
.space_name {
  font-weight: 500;
}

.description {
  display: flex;
  font-size: smaller;
  font-weight: 300;
  justify-content: start;
  margin: 0 1rem 0 0;
  padding-top: 1rem;
  text-align: left;
}

.description_title {
  color: #a3a3a3;
  margin: 0;
}

.description_title li {
  padding: 0.2rem;
}

.description_detail {
  margin: 0 0 0 1.5rem;
}

.description_detail li {
  padding: 0.2rem;
}

.live {
  background: #3b82f6;
  color: #fafafa;
  padding: 0 0.3rem;
  margin-right: 0.6rem;
}
