.nav {
  margin: 1rem;
  border-bottom: solid 2px rgba(64, 64, 64, 0.257);
}

.nav::after {
  content: '';
  position: absolute;
  display: block;
  border-bottom: solid 2px #404040;
  width: calc(100% / 3);
  /* transform: translateX(98%); */
}

.ul {
  padding: 0 0 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.list {
  cursor: pointer;
}
