.thumbnail {
  display: flex;
  justify-content: start;
  margin: 24px 16px 16.5px 18px;
  text-align: left;
}

.image {
  border-radius: 4px;
  height: 82.5px;
  margin: 0;
  object-fit: cover;
  width: 110.11px;
}

.title {
  margin: 0 16px;
}

.host_name {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #677294;
}

.space_name {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  color: #232323;
}
