.header {
  position: relative;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.line {
  background-color: #d8dee5;
  border: 0;
  height: 2px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 100%;
  bottom: 0%;
}

.left {
  background-color: #232323;
  border: 0;
  height: 2px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 100%;
  bottom: 0%;
  width: 50%;
  transform: translateX(-50%);
}

.right {
  background-color: #232323;
  border: 0;
  height: 2px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 100%;
  bottom: 0%;
  width: 50%;
  transform: translateX(50%);
}
