.footer {
  width: 390px;
  background: #f4f5f6;
  padding: 18px 18px 0;
}

.attention {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;

  color: #232323;
}

ul {
  margin-top: 25px;
  margin-bottom: 52px;
}

li {
  font-style: normal;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #5e5e5e;
}

.buttons {
  height: 80px;
  padding: 10px 18px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.cancel {
  width: 172px;
  background: #fff;
  padding: 12px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #677294;
  border: 1px solid #d8dee5;
  border-radius: 4px;
}

.save {
  width: 172px;
  padding: 12px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #fff;
  background: #0077ed;
  border-radius: 4px;
}
