.nav {
  margin: 0;
  height: 50px;
  color: #d8dee5;
}

.ul {
  display: flex;
  padding: 13px 0;
  margin: auto;
  font-size: small;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.list {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin: 0;
}

.list.active {
  color: #232323;
  pointer-events: none;
}
