.line {
  background-color: #d8dee5;
  width: 100%;
  height: 1px;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.customerMenu {
  position: relative;
  margin: 0;
  display: flex;
  align-items: center;
}

.customerMenu button {
  background: transparent;
}

.reviewTitle {
  margin: 10px 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #232323;
}

.pick {
  position: absolute;
  right: 48.5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  padding: 1px 3.5px;
  color: #f93737;
  border: 1px solid #f93737;
  border-radius: 1px;
}

.showBtn {
  position: absolute;
  width: 20px;
  top: 10px;
  right: 17px;
  color: #aeaeae;
}

.hideBtn {
  position: absolute;
  width: 20px;
  top: 10px;
  right: 17px;
  color: #aeaeae;
}
