.container {
  padding-top: 20px;
  display: flex;
  flex-direction: row-reverse;
  margin-right: auto;
  overflow-x: auto;
}

.container > :first-child {
  margin-right: auto;
}

.label {
  position: relative;
  min-width: 98px;
  height: 98px;
  display: flex;
  align-items: center;
  margin: 0 0 0 20px;
  background-color: #f4f5f6;
  border: 1px dashed #d8dee5;
  border-radius: 8px;
  cursor: pointer;
}

.addIcon {
  width: 39px;
  height: 30px;
  background: transparent;
  color: #dadee4;
}

.imgContainer {
  position: relative;
  display: flex;
  margin: 0 0 0 20px;
}

.imgContainer img {
  width: 98px;
  height: 98px;
  border-radius: 8px;
  object-fit: cover;
}

.deleteIcon {
  position: absolute;
  top: -10%;
  right: -10%;
  width: 24px;
  height: 24px;
  color: #bec2c8;
  background: #fff;
  border: 1px solid #bec2c8;
  border-radius: 50%;
  cursor: pointer;
}

.max {
  text-align: right;
  margin: 8px 18px 40px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #aeaeae;
}
