.nav {
  margin: 0;
  color: #d8dee5;
}

.ul {
  display: flex;
  padding: 0;
  margin: 3px 0;
  flex-direction: row;
  font-size: small;
  justify-content: space-around;
}

.list {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin: 0 40px;
}

.list.active {
  color: #232323;
  pointer-events: none;
}
